DATABASE_URL= postgresql://postgres.bctrqrngndkzhqgjpcqa:4fPDbWlnwiqluHQK@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API=http://localhost:3000
NEXTAUTH_SECRET=opsef09we9fwe9f34333